html {
    background-color: black ;
    color: white;
}

#greeting {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 700px;
    height: 75px;
    text-align: center;
}

#advice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}